<!DOCTYPE html>
<html>
<head>
  <title>Game Catalog</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-X9JiR5BtXUXiV6R3XuMyVGefFyy+18PHpBwaMfteb/vd2RrK6Gt4KPenkQyWLxCC" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>
<body>

  <div id="mySidenav" class="sidenav">
    <h1>games.lib</h1>
    <form class="form-inline" method="GET" action="/games/search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
    </form>
    <a href="/">Library</a>
    <% if (session.is_admin === true) {%>
      <a href="/games/new">Add Game</a>
    <% } %>
    <a href="/logout">Logout</a>
  </div>

  <div class="container-fluid" id="main">
    <div class="row">
      <div class="col-md-1">
        <i class="fa fa-4x fa-bars" id="navToggle" aria-hidden="true"></i>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin-bottom:5%">
        <div class="col-md-12 text-center">
          <h1>Library</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-8 col-xs-7 col-xs-offset-5">

          <form>

            <div class="form-inline text-right">
              <div class="form-group">
                <label for="sort">Platform:</label>
                <select id="platformSelect" class="form-control input-sm" name="platform" onchange="this.form.submit()">
                    <option value="0">All Platforms</option>
                  <% platforms.forEach(function(platform) { %>
                    <% if (Number(query.platform) === Number(platform.id)) { %>
                      <option value="<%=platform.id%>" selected><%=platform.name%></option>
                    <% } else { %>
                      <option value="<%=platform.id%>"><%=platform.name%></option>
                    <% }; %>
                  <% }); %>
                </select>
              </div>
            </div>

            <div class="form-inline text-right" style="margin-top:2%">
              <div class="checkbox filter">
                <label>
                  <% if (query.wishlist === 'true') { %>
                    <input type="checkbox" value="true" name="wishlist" checked onchange="this.form.submit()">
                  <% } else { %>
                    <input type="checkbox" value="true" name="wishlist" onchange="this.form.submit()">
                  <% }; %>
                  Wishlist
                </label>
              </div>
              <div class="checkbox filter">
                <label>
                  <% if (query.unplayed === 'true') { %>
                    <input type="checkbox" value="true" name="unplayed" checked onchange="this.form.submit()">
                  <% } else { %>
                    <input type="checkbox" value="true" name="unplayed" onchange="this.form.submit()">
                  <% }; %>
                  Unplayed
                </label>
              </div>
              <div class="checkbox filter">
                <label>
                  <% if (query.indie === 'true') { %>
                    <input type="checkbox" value="true" name="indie" checked onchange="this.form.submit()">
                  <% } else { %>
                    <input type="checkbox" value="true" name="indie" onchange="this.form.submit()">
                  <% }; %>
                  Indie
                </label>
              </div>
              <div class="form-group">
                <a href="/">Reset</a>
              </div>
            </div>

          </form>

        </div>
      </div>

      <hr>

      <% if (games.length === 0 && (query.platform === undefined || query.platform === 0)) { %>
        <h2 class="text-center">Your library currently has zero titles.</h2>
        <h2 class="text-center">Search for titles to add them.</h2>
      <% } else if (games.length === 0 && query.platform !== 0) { %>
        <h2 class="text-center">Your currently have zero titles on this platform.</h2>
        <h2 class="text-center">Search for titles to add them.</h2>
      <% }; %>

      <% games.forEach(function(game) { %>
        <div class="col-md-3 col-xs-6 text-center" style="padding-top:2.5%;padding-bottom:2.5%;height:515px">
          <a href="../users/<%=session.id%>/games/<%=game.game_id%>"><img src="<%=game.image_url%>"></a>
          <a href="../users/<%=session.id%>/games/<%=game.game_id%>"><h4><%=game.title%></h4></a>
          <% if (game.own) { %>
            <h5>Own: Yes</h5>
          <% } else { %>
            <h5>Own: No </h5>
          <% } %>
          <% if (game.played) { %>
            <h5>Played: Yes</h5>
          <% } else { %>
            <h5>Played: No </h5>
          <% } %>
        </div>
      <% }); %>

    </div>

  </div>

  <script src="javascripts/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
